/**
 * 英语听写/复读工具 - CSS 主入口
 * 导入所有模块样式
 */

@import url('./colors.css');
@import url('./base.css');
@import url('./components.css');
@import url('./home.css');
@import url('./menu.css');
@import url('./repeater.css');
@import url('./dictation.css');
@import url('./auth.css');
@import url('./responsive.css');
